/* CSS declarations go here */

@import "lib/custom.bootstrap.import.less";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=latin,greek,greek-ext,latin-ext);

// Our own variables

// Key colors pallet
// .key-color-1 {background-color: #71dacf;}
// .key-color-2 {background-color: #1CAEC1;}
// .key-color-3: #ff8c5a;
// .key-color-4: #ff6969;
// .key-color-5: #ef81d0;
// .key-color-6: #b976ff;
// .key-color-7: #2db6e0;
// .key-color-8: ##81db46;
// .key-color-9: #88cccc;
// .key-color-10: #8888cc;
// .key-color-11: #88cc88;
// .key-color-12: #aabbaa;
// .key-color-13: #aabbaa;
// .key-color-14: #aabbaa;
// .key-color-15: #aabbaa;
// .key-color-16: #aabbaa;
.boxcolor_1 {
  background-color: #71DACF !important;
}
.boxcolor_2 {
  background-color: #1CAEC1 !important;
}
.boxcolor_3 {
  background-color: #ff8c5a !important;
}
.boxcolor_4 {
  background-color: #ff6969 !important;
}
.boxcolor_5 {
  background-color: #ef81d0 !important;
}
.boxcolor_6 {
  background-color: #b976ff !important;
}
.boxcolor_7 {
  background-color: #2db6e0 !important;
}
.boxcolor_8 {
  background-color: #81db46 !important;
}
.boxcolor_9 {
  background-color: #d6e12d !important;
}
.boxcolor_10 {
  background-color: #00cc8d !important;
}
.boxcolor_11 {
  background-color: #e5775d !important;
}
.boxcolor_12 {
  background-color: #2de1c1 !important;
}
.boxcolor_13 {
  background-color: #2ddbe1 !important;
}
.boxcolor_14 {
  background-color: black !important;
}
.boxcolor_15 {
  background-color: #bae55d !important;
}
.boxcolor_16 {
  background-color: #373737 !important;
}


/*full heights for elements*/
html, body, .full-height {
  height: 100%;
}

body {
	/*padding-top: 50px;*/
  font-family: 'Open Sans', sans-serif;
}

/*Compensation for Bootstrap fixed-nav*/
body > .content {
  padding-top: 50px;
  padding-bottom: 42px;
}

a:focus, button:focus{
  outline: 0 !important;
}
a::-moz-focus-inner, button::-moz-focus-inner {
  border: 0 !important;
}

textarea {
    resize: none;
}

[data-nav] {
  cursor: pointer;
}

/* This is temporary styling */
[data-nav]:hover {
  /*background-color: #D3E7F1;*/
}

.navbar-nav.navbar-right {
  text-align: right;
}

/*Section headers for content*/
.content > .row > div > h4,
.content > .row > div > h5,
.content > .row > div > h6 {
  text-transform: uppercase;
}

form label {
  text-transform: uppercase;
}

small {
  text-transform: none !important;
}

.line {
  display: block;
  height: 0;
  margin: 18px 0 18px 0;
  background: transparent;
  border-top: 1px solid @gray-lighter;
}

.btn {
  font-weight: bold;
}

.navbar > .container {
  text-align: center;
}

// UI components
ul.list-group .glyphicon.close {
  font-size: 15px;
  line-height: 18px;
}

ul.list-group .close {
  padding: 0 8px 0 10px;
}

.glyphicon.text-success {
  color: @brand-success;
}
.glyphicon.text-info {
  color: @brand-info;
}
.glyphicon.text-warning {
  color: @brand-warning;
}
.glyphicon.text-danger {
  color: @brand-danger;
}

.tab-content > .tab-pane {
  padding-top: 8px;
}

.VA-top-spacer {
  margin-top: 12px;
}
.VA-top-spacer-lg {
  margin-top: 24px;
}

.VA-nav-buttons.btn-group {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 10px;
  z-index: 900;
}

// This inverts colors for nav-buttons
.VA-nav-buttons .btn {
  font-weight: 400;
  background-color: darken(@gray-lightest, 1%);
  border-color: @gray-lighter;
  &.btn-default {
    color: lighten(@gray, 3%);
  }
  &.btn-primary {
    color: darken(@brand-primary, 2%);
  }
  &.btn-success {
    color: darken(@brand-success, 2%);
  }
  &.btn-info {
    color: darken(@brand-info, 2%);
  }
  &.btn-warning {
    color: darken(@brand-warning, 2%);
  }
  &.btn-danger {
    color: darken(@brand-danger, 2%);
  }
}

.VA-navbar-title {
  display: block;
  position: fixed;
  height: @navbar-height;
  width: 100%;
  margin-left: ((@grid-gutter-width * -1) + 9);
  padding-top: ((@navbar-height - @line-height-computed - 4) / 2);
  padding-bottom: ((@navbar-height - @line-height-computed) / 2);
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  // text-transform: uppercase;
  color: @gray-light;
}

.VA-CTA {
  padding: 6px 0;
  /*padding-top: 16px;*/
  /*padding-bottom: 10px;*/
  /*border-top: 1px solid grey;*/
}



.VA-CTA .btn.btn-block {
  /*padding-left: 42px;*/
  /*padding-right: 42px;*/
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}


/*Vote option styles. We can eventually replace with bootstrap4 cards*/
.VA-vote-container {
  padding-top: 52px !important;
  /*padding-bottom: 20px;*/
  background-color: #e3e3e3;
}

.VA-doVoteNav {
  min-height: 42px !important;
  // padding-top: 6px;
  // padding-bottom: 12px;
  padding: 10px;
  background-color: transparent;
  border: none;
  .navbar-header {
    text-align: left;
  }

}

.thumbnail.VA-choice-thumb {
  position: relative;
  height: ~"calc(50% - 24px)"; /* 1/2 height - the height of sibling controls */
  margin-bottom: 17px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  line-height: ~"calc(50% - 24px)"; /* 1/2 height - the height of sibling controls */
  text-align: center;
}

.thumbnail.VA-choice-thumb .VA-thumb-title {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  color: #FFF;

}

.thumbnail.VA-choice-thumb .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.VA-choice-selector {
  visibility: hidden;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  font-size: 100px;
  top: 50%;
  margin-top: -64px;
  color: rgba(1, 194, 1, 0.59);

}

.selected .VA-choice-selector {
  visibility: visible;
}

#VA-alert-box {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1050;

}

#VA-alert-box li {
  margin-top: 3px;
  margin-bottom: 3px;
}

.VA-signup.jumbotron {
  background: transparent;
  img {
    margin-left: auto;
    margin-right: auto;
  }

}

.VA-auth-bg {
  /* bg img alignmend */
  background-position: 20% -11%;
  background-repeat: no-repeat;
}




