/* CSS declarations go here */

body {
	padding-top: 62px;
}

a:focus, button:focus{
  outline: 0 !important;
}
a::-moz-focus-inner, button::-moz-focus-inner {
  border: 0 !important;
}

[data-nav] {
  cursor: pointer;
}

/* This is temporary styling */
[data-nav]:hover {
  border: 1px solid teal;
}

.navbar-nav.navbar-right {
  text-align: right;
}

